<div class="sub-content">
  <div class="profile-box">
    <img class="profile-img" src="/public/image/profile.jpg" alt="">
    <h4>青山 佐紀</h4>
    <p>ＷＥＢディレクター</p>
    <p>自己紹介サンプルテキスト</p>
    <div>
      <a href=""><i class="fab fa-twitter"></i></a>
      <a href=""><i class="fab fa-instagram"></i></a>
      <a href=""><i class="fab fa-facebook"></i></a>
    </div>
  </div>

  <div class="favorite-box">
    <h3 class="sub-title">人気な記事</h2>


  </div>
</div>