<div class="d-flex sns-box">
  <a class="Facebook-btn sns-btn" href="#"><i class="fab sns-icon fa-facebook"></i>Facebook</a>
  <a class="Twitter-btn sns-btn" href="#"><i class="fab sns-icon fa-twitter"></i>Twitter</a>
  <a class="Instagram-btn sns-btn" href="#"><i class="fab sns-icon fa-instagram"></i>Instagram</a>
</div>