<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
  <div class="position-sticky pt-3">
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" href="#">
          <span data-feather="home"></span>
          ダッシュボード
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/account/article-posting">
          <span data-feather="file"></span>
          記事投稿
        </a>
      </li>
      <li class="nav-item"></li>
        <a class="nav-link" href="/account/article-list">
          <span data-feather="shopping-cart"></span>
          記事一覧
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="users"></span>
          記事削除
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="bar-chart-2"></span>
          お問い合わせ一覧
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">
          <span data-feather="layers"></span>
          パスワード変更
        </a>
      </li>
    </ul>


  </div>
</nav>