<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
  <%- include("./_share/stylesheet.ejs") %>
</head>

<body>

  <%- include("./_share/header.ejs") %>

    <!--mainコンテンツ-->
    <main class="container mg">

      <div class="row reset-mg">
        <div class="main-content blog-err text-center">
          <h1 class="mt-3">404<span class="color-glay">&nbsp;Page&nbsp;Not&nbsp;Found</span>
          </h1>
          <strong class="message-str">お探しのページが見つかりません。</strong>
          <p class="message-sub">移動もしくは削除された可能があります。</p>
          <img class="error-img" src="/public/image/404.png" alt="">
        </div>

        <%- include("./_share/side.ejs") %>

      </div>

    </main>

    <%- include("./_share/footer.ejs") %>

</body>

</html>