<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
  <%- include("../_share/stylesheet.ejs") %>
</head>

<body>

  <%- include("../_share/header.ejs") %>

    <!--mainコンテンツ-->
    <main class="container mg">

      <div class="row reset-mg">
        <div class="main-content blog-err">
          <p>検索結果が見つかりません。<br>又は該当のページは存在しません！！</p>
        </div>

        <%- include("../_share/side.ejs") %>

      </div>

    </main>

    <%- include("../_share/footer.ejs") %>

</body>

</html>