<!DOCTYPE html>
<html lang="ja">

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>blog</title>
  <%- include("../_share/stylesheet.ejs") %>
</head>

<body>

  <%- include("../_share/header.ejs") %>

    <!--mainコンテンツ-->
    <main class="container mg">

      <div class="row reset-mg">
        <div class="main-content blog-err">
          <p>検索結果が見つかりません。<br>又は該当のページは存在しません！！</p>
        </div>

        <%- include("../_share/side.ejs") %>

      </div>

    </main>

    <footer class="footer">
      <div class="container">
        <div class="row">
          <div>
            <h4>ARCHIVE</h4>
            <ul>
              <li></li>
            </ul>
          </div>

          <div>
            <h4>TWITTER</h4>
            <div></div>
          </div>

        </div>
      </div>
      <div class="container end-box">
        <p class="copy">&copy;2021 sample</p>
      </div>
    </footer>

</body>

</html>